<div class="" fxLayout="row relative" fxLayoutAlign="center center">
    <mat-spinner *ngIf="spinner" class="spinner absolute"></mat-spinner>
    <div *ngIf="!swopForm" fxFlex="100" fxLayout="column" fxLayoutAlign="start stretch" fxFill>
        <form #login="ngForm">
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div fxFlex="94" fxLayout="column" fxLayoutGap="1.7em" fxLayoutAlign="space-around stretch">
                    <div class="margin0" fxLayout="column" fxLayoutAlign="center center">
                        <h2>Login</h2>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <img src="../../assets/img/person.svg" alt="">
                    </div>
                    <div class="marginTop2em" fxLayout="column" fxLayoutAlign="start stretch">
                        <h3>
                            Welcome Back.
                        </h3>
                    </div>
                    <div class="inputContainer" fxLayout="column" fxLayoutAlign="start stretch">
                        <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="existingUser.email" name="email" type="email" placeholder="Enter email">
                            <mat-icon matPrefix>mail</mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="inputContainer" fxLayout="column" fxLayoutAlign="start stretch">
                        <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="existingUser.userPass" name="userPass" type="password" placeholder="Enter email">
                            <mat-icon matPrefix>lock</mat-icon>
                        </mat-form-field>
                    </div>


                    <div fxLayout="row wrap" fxLayoutAlign="flex-end center">
                        <span class="font11px hoverBlue">Forgot Password?</span>
                    </div>

                    <div fxLayout="row wrap" fxLayoutAlign="center center">
                        <div fxFlex="90" fxLayout="column" fxLayoutAlign="start stretch">
                            <button (click)="loginClient()" mat-raised-button class="darkBlueBg whiteColour">Login</button>
                        </div>
                    </div>
                    <div fxLayout="row wrap" fxLayoutAlign="center center">
                        <p class="margin0">Don't have an account? Register <span class="primaryColour cursor" (click)="switchForm()">here</span>. </p>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="swopForm" fxFlex="100" fxLayout="column" fxLayoutAlign="start stretch" fxFill>
        <form #register="ngForm">
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div fxFlex="94" fxLayout="column" fxLayoutGap="1.7em" fxLayoutAlign="space-around stretch">
                    <div class="margin0" fxLayout="column" fxLayoutAlign="center center">
                        <h2>Register</h2>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <img src="../../assets/img/person.svg" alt="">
                    </div>
                    <div class="inputContainer marginTop1em" fxLayout="column" fxLayoutAlign="start stretch">
                        <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="newUser.fullName" name="fullName" type="text" placeholder="Enter full name">
                            <mat-icon matPrefix>person</mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="inputContainer" fxLayout="column" fxLayoutAlign="start stretch">
                        <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="newUser.phone" name="phone" type="text" placeholder="Enter phone">
                            <mat-icon matPrefix>call</mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="inputContainer" fxLayout="column" fxLayoutAlign="start stretch">
                        <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="newUser.email" name="email" type="email" placeholder="Enter email">
                            <mat-icon matPrefix>mail</mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="inputContainer" fxLayout="column" fxLayoutAlign="start stretch">
                        <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="newUser.userPass" name="password" type="password" placeholder="Enter password">
                            <mat-icon matPrefix>lock</mat-icon>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row wrap" fxLayoutAlign="center center">
                        <div fxFlex="90" fxLayout="column" fxLayoutAlign="start stretch">
                            <button (click)="registerNewClient()" mat-raised-button class="darkBlueBg whiteColour">Register</button>
                        </div>
                    </div>
                    <div fxLayout="row wrap" fxLayoutAlign="center center">
                        <p class="margin0">Already have an account? Register <span class="primaryColour cursor" (click)="switchForm()">here</span>. </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>