<mat-drawer-container class="example-container">
    <mat-drawer #sidenav opened mode="over">
        <div fxLayout="row" fxLayoutAlign="start stretch">
            <div fxFlex="100" class="relative" fxLayout="column" fxLayoutAlign="start stretch">
            <img class="absolute bannerTop fullWidth" src="../../assets/img/featherbg.jpg" >
                <div fxLayout="column" fxLayoutAlign="center center" class="marginTop2em ">
                    <div class="round darkBlueBg width100px height100px relative">
                        <mat-icon (click)="sidenav.close()" class="absolute close whiteColour">close</mat-icon>
                        <h1 class="absolute  whiteColour">{{ user.fullName[0] }}</h1>
                    </div>

                </div>
                <div fxLayout="column" class="marginTop15px" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <h3 class="bold whiteColour">{{ user['fullName'] }}</h3>
                    <h4 class="bold whiteColour">{{ user['email'] }}</h4>
                </div>
                <div (click)="redirect(nav['name'], sidenav)"  *ngFor="let nav of sidenavItems; let i = index"   [routerLink]="nav['route']" routerLinkActive="active" fxLayout="column" [style.margin-top]="(i == 0) ? '10px !important' : ''" class="borderBottom" fxLayoutAlign="start start" [ngClass]="(i == sidenavItems.length - 1 ) ?  'none' : ''">
                    <div fxLayout="row" class="margin15px marginLeft20px" fxLayoutAlign="center center" fxLayoutGap="20px">
                        <mat-icon [style.color]="(i == sidenavItems.length - 1 ) ? '#00a3bf !important' : ''" [class]="nav.class">{{ nav['icon'] }}</mat-icon>
                        <h3 class="bold font-size18px">{{ nav['name'] }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div fxLayout="row" fxLayoutAlign="center start" fxFill>
            <div fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch">
                <div class="header padding10px height60px darkBlueBg" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxFlex="30" fxLayout="column" fxLayoutAlign="start start">
                        <button mat-mini-fab color="primary">
              <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            </button>
                    </div>
                </div>
                <div class="marginTop2em routerHeight" fxLayout="column" fxLayoutAlign="start stretch">
                    <router-outlet></router-outlet>
                </div>

                <div class="footer height60px borderTop1px" fxLayout="row " fxLayoutAlign="center center ">
                    <div fxLayout="column " fxFlex="30 " fxFlex.xs="100 " fxLayoutAlign="start stretch ">
                        <div fxLayout="row " fxLayoutGap="3px " fxLayoutAlign="start center ">
                            <div class="icon-box height58px " fxFlex="25 " fxFlex.xs="25 " *ngFor="let item of footerItems " fxLayout="column " fxLayout.xs="column " fxLayoutAlign="center center ">
                                <mat-icon>{{ item.icon }}</mat-icon>
                                <mat-label class="font10px bold ">{{ item.name }}</mat-label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>